/.phpunit.cache
/node_modules

/public/hot
/public/storage
/public/uploads
/public/vendor
/public/modules/analytic
/public/modules/announcement
/public/modules/api
/public/modules/asset
/public/modules/document
/public/modules/filemanager
/public/modules/leave
/public/modules/notificationmanager
/public/modules/payroll
/public/modules/shift
/public/modules/warning
/public/docs
/public/uploads
/storage/*.key
/storage
/vendor
/.scribe
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.scribe
/resources/views/scribe
/database_backup*.sql
/public/build


momdigital.io_godaddy.txt
momdigital.io.txt
Screenshot from 2024-05-04 08-38-45.png
.env
composer.lock

.DS_Store
nlvC9mPgmPIQ9KKgA0ftJpN3PAQWqQOiDuQRnXsE.jpg
